/*Estabblece el color de fondo del cuerpo*/
body{
    background-color:aliceblue;  /*agrego color al fondo*/
}
/*Define el estilo del texto*/
.texto{
    /*Propiedades de texto*/
    color: black;
    text-align: center;
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
 
}
/*Define el estilo del titulo*/
.titulo{
/*Propiedades de titutlo*/    
    font-family:Georgia, 'Times New Roman', Times, serif; /*fuente de letra*/
    color:black;
    border-style : solid;
    border-color:black ;
    border-radius: 6px;
    border-width: 2px;
    text-align: center;
    background-color: lightblue;
}
/*Clase para centrar una imagen*/
.center {   /* centrar la imagen horizontal y verticalmente*/ 
    display:flex;
    justify-content: center;
    align-items: center;
}
/*Estilo para el identificador "dqrata"*/
#dqtrata{
    color:black;
    text-decoration: underline; /*subrayamos la palabra de que trata esto (en el index principal) */

}
/*Define el estilo del texto de recetas*/
.textorecetas{
    color:lightcoral;
    text-align: left;
    font-size:large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.contenido {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos*/
    text-align: center;
}

.contenido-texto {
    flex: 1; /* Toma todo el espacio restante */
    padding: 20px; /* Espacio entre el texto y la imagen*/
    margin-right:20px ;
}

.contenido-imagen {
    margin-right: 600px; /* Espacio entre el texto y la imagen */
}
.pie-pagina {
    text-align: center;
}